################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjetoIntegradoTeste
/ProjetoIntegradoTeste/bin/Debug/net6.0
/ProjetoIntegradoTeste/obj
/ProjetoIntegradoTeste.Common/bin/Debug/net6.0
/ProjetoIntegradoTeste.Common/obj
/ProjetoIntegradoTeste.Data/obj
/ProjetoIntegradoTeste.Data/bin/Debug/net6.0
/ProjetoIntegradoTeste.Domain/bin/Debug/net6.0
/ProjetoIntegradoTeste.Domain/obj
/ProjetoIntegradoTeste.PaymentRefundWorker/bin/Debug/net6.0
/ProjetoIntegradoTeste.PaymentRefundWorker/obj
/ProjetoIntegradoTeste.PayPal/bin/Debug/net6.0
/ProjetoIntegradoTeste.PayPal/obj
/ProjetoIntegradoTeste.ProcessPaymentWorker/bin/Debug/net6.0
/ProjetoIntegradoTeste.ProcessPaymentWorker/obj
/ProjetoIntegradoTeste.RabbitMQ/bin/Debug/net6.0
/ProjetoIntegradoTeste.RabbitMQ/obj
/ProjetoIntegradoTeste.SendGrid/bin/Debug/net6.0
/ProjetoIntegradoTeste.SendGrid/obj
/.vs/HomeCare
/HomeCare.Common/bin/Debug/net6.0
/HomeCare.Common/obj
/HomeCare.Data/bin/Debug/net6.0
/HomeCare.Data/obj
/HomeCare.Domain/bin/Debug/net6.0
/HomeCare.Domain/obj
/HomeCare.IoC/bin/Debug/net6.0
/HomeCare.IoC/obj
/HomeCare.PaymentRefundWorker/bin/Debug/net6.0
/HomeCare.PaymentRefundWorker/obj
/HomeCare.PayPal/bin/Debug/net6.0
/HomeCare.PayPal/obj
/HomeCare.ProcessPaymentWorker/bin/Debug/net6.0
/HomeCare.ProcessPaymentWorker/obj
/HomeCare.RabbitMQ/bin/Debug/net6.0
/HomeCare.RabbitMQ/obj
/HomeCare.SendGrid/bin/Debug/net6.0
/HomeCare.SendGrid/obj
/HomeCare.WebApi/bin/Debug/net6.0
/HomeCare.WebApi/obj
