.img-fluid {
    max-width: 100%;
    height: 300px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.supplier {
    margin-bottom: 15px;
}

.card {
    background: black;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-title {
    color: white;
    margin: 0;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 19px;
}


.card:hover .card-overflow {
    display: block;
}

.card-overflow {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,.7);
    opacity: 1;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.card-overflow h4 {
    color: white;
    margin: 50% auto;
    text-align: center;
}
