<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c3626726-eecb-4924-b408-a36821514b21/resourceGroups/rg-puc-projetointegrado-homecare/providers/Microsoft.Web/sites/app-puc-projetointegrado-homecare</ResourceId>
    <ResourceGroup>rg-puc-projetointegrado-homecare</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://app-puc-projetointegrado-homecare.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>24b20da6-86f6-42e9-aac5-eb626539b899</ProjectGuid>
    <PublishUrl>https://app-puc-projetointegrado-homecare.scm.azurewebsites.net/</PublishUrl>
    <UserName>$app-puc-projetointegrado-homecare</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>