<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/7fa78c80-d03e-4a89-972e-5be702137429/resourceGroups/rg-projetointegradopuc/providers/Microsoft.Web/sites/homecare-projetointegradopuc</ResourceId>
    <ResourceGroup>rg-projetointegradopuc</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://homecare-projetointegradopuc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>24b20da6-86f6-42e9-aac5-eb626539b899</ProjectGuid>
    <PublishUrl>https://homecare-projetointegradopuc.scm.azurewebsites.net/</PublishUrl>
    <UserName>$homecare-projetointegradopuc</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>